extends layout

block body
	.row
		h2= i18n('welcome')
		p= i18n('introduction')
		table.columns
			thead
				th.title= i18n('title')
				th.description= i18n('description')
				th.activity= i18n('activity')
				th.actions= i18n('actions')
			tbody(id='collection-index')
				tr
					td(colspan='4')= i18n('noData')

block scripts
	script(type='text/javascript', src='/scripts/index.js')