doctype html
html(lang='en')
	head
		title= i18n('appName')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		script(type='text/javascript', src='/scripts/modernizr.js')
		link(href='/styles/app.css', rel='stylesheet', type='text/css')
		block styles

	body
		nav(class='top-bar', data-topbar)
			ul.title-area
				li.name
					h1
						a(href='/')= i18n('appName')
			section.top-bar-section
				ul.right
					li.has-dropdown
						a(href='#')= i18n('administration')
						ul.dropdown
							li
								a(href='/collection/manage')= i18n('collection')
		block body

		footer.row= i18n('footer')

		script(type='text/javascript', src='/scripts/jquery.js')
		script(type='text/javascript', src='/scripts/jquery.serializeJSON.js')
		script(type='text/javascript', src='/scripts/jquery-validation.js')
		script(type='text/javascript', src='/scripts/fastclick.js')
		script(type='text/javascript', src='/scripts/foundation.js')
		script(type='text/javascript', src='/scripts/sails.io.js')
		script(type='text/javascript', src='/scripts/app.js')

		block scripts