extends layout

block body
	.row
		h2= i18n('welcome')
		p= i18n('introduction')
		#list
			table.fullwidth
				thead
					th.title= i18n('title')
					th.description= i18n('description')
					th.activity= i18n('activity')
					th.actions= i18n('actions')
				tbody
					tr.noData
						td(colspan='4')= i18n('noData')

block scripts
	script(type='text/javascript', src='/scripts/start.js')